extends layout

block content

    //login area
    if user
        form(action="/logout" method ="POST")
            button(class="btn btn-secondary" type="submit" style="float: right;") logout
    else
        a(href='/register' class="btn btn-primary" style="float: right;") register
        a(href='/login' class="btn btn-secondary" style="float: right;") login

    h1 Welcome to the message board!

    .container.rounded.border.border-secondary
        .row
            .col-xs-12.col-sm-12.col-lg-6.box
                form
                    h3.mb-4 Your Preferences
                    .mb-3
                        label.form-label(for='formFastFoodIndex') Slower (Sit Down) / Faster (Fast Food)
                        input#formFastFoodIndex.form-range.slider(type='range')

                    .mb-5
                        label.form-label(for='formPriceIndex') Lower Price / Higher Price
                        input#formPriceIndex.form-range.slider(type='range')

                    .mb-3
                        label.form-label(for='formAmericanIndex') American Food Preference
                        input#formAmericanIndex.form-range.slider(type='range')

                    .mb-3
                        label.form-label(for='formMexicanIndex') Mexican Food Preference
                        input#formMexicanIndex.form-range.slider(type='range')

                    .mb-3
                        label.form-label(for='formChineseIndex') Chinese Food Preference
                        input#formChineseIndex.form-range.slider(type='range')

                    .mb-3
                        label.form-label(for='formPizzaIndex') Pizza Preference
                        input#formPizzaIndex.form-range.slider(type='range')

                    .mb-3
                        label.form-label(for='formAlcoholIndex') Alcohol Preference
                        input#formAlcoholIndex.form-range.slider(type='range')

                    .mb-5
                        label.form-label(for='formMusicIndex') Live Music/Entertainment Preference
                        input#formMusicIndex.form-range.slider(type='range')



                    button.btn.btn-primary(type='submit') Update



            .col-xs-12.col-sm-12.col-lg-6.box
                // right column : begin Search
                h3.mb-4 Begin Search
                h6 Included Users
                .card.mb-5
                    .card-body

                .input-group.mb-3
                    input.form-control(type='text' placeholder="Add username")
                    .input-group-append
                        button#button-addon2.btn.btn-outline-secondary(type='button') Add

                button.btn.btn-primary(type='submit') Begin Search
        //display messages based on type